<?xml version="1.0" encoding="utf-8"?>
<Package
    xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
    xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
    xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
    IgnorableNamespaces="uap mp">

    <Capabilities>
        <Capability Name="internetClient" />
        <DeviceCapability Name="bluetooth" />
    </Capabilities>

    <!-- Other manifest configurations go here -->

</Package>
